html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hover-cursor {
  cursor: pointer;
}

.CSVImporter_Importer {
  color: black;
}

.semibold {
  font-weight: 600;
}

.group-select-dark > #react-select-3-listbox > div {
  background-color: #222222;
}

.assignment-select-dark > #react-select-3-listbox > div {
  background-color: #222222;
}

.location-select-dark > #react-select-5-listbox > div {
  background-color: #222222;
}

.first-div-overflow-hidden > div:first-of-type {
  overflow: hidden;
}
